{% extends 'user/base.html' %}
{% block content %}

{% load static %}
<div class="conteneur">
	{% for element in content %}
		<div class="item">
			<div class="item-image">
					{% if element.get_unit %}
						<a href="{% url 'user:food_detail' id=element.id %}" class="image-cadre">
						<img src="{{ element.picture.url }}" class="round-image-borders">
					{% else %}
						{% if element.picture %}
							<a href="{% url 'user:meal_detail' id=element.id %}" class="image-cadre">
							<img src="{{ element.picture.url }}" class="round-image-borders">
						{% else %}
							<a href="{% url 'user:menu_detail' id=element.id %}" class="image-cadre">
								Pas d'image disponible pour ce menu
						{% endif %}
					{% endif %}
				</a>
			</div>

			<div class="empty-frame"></div>
			<div class="item-content">
				<div class="item-title">
					<p class="">
						{{ element.get_name }}
					</p>
				</div>

				{% if element.get_unit %}
					<a href="{% url 'user:food_detail' id=element.id %}" class="a-content">
				{% else %}
					{% if element.picture %}
						<a href="{% url 'user:meal_detail' id=element.id %}" class="a-content">
					{% else %}
						<a href="{% url 'user:menu_detail' id=element.id %}" class="a-content">
					{% endif %}
				{% endif %}
					<div class="between-detail-elements"></div>
					<div class="item-description">
						<p class="" style="padding:35px;">
							{% if element.get_description != "unknown description" %}{{ element.get_description }}{% else %}No description available{% endif %}
							
						</p>
					</div>
				</a>
				<div class="between-detail-elements"></div>
				{% if element.get_unit is None %}
				<div class="item-appre">
					<div class="like-comment">
						<div class="like">
							{% if element.picture %}
								<a href="#" onclick=likeMeal('meal{{ element.id }}') class="appre-image">
							{% else %}
								<a href="#" onclick=likeMenu('menu{{ element.id }}') class="appre-image">
							{% endif %}
							{% if user in element.likers.all %}
								{% if element.picture %}
									<img id="like_imagemeal{{ element.id }}" src="{% static 'visitor/images/liked.png' %}">
								{% else %}
									<img id="like_imagemenu{{ element.id }}" src="{% static 'visitor/images/liked.png' %}">
								{% endif %}
							{% else %}
								{% if element.picture %}
									<img id="like_imagemeal{{ element.id }}" src="{% static 'visitor/images/like.png' %}">
								{% else %}
									<img id="like_imagemenu{{ element.id }}" src="{% static 'visitor/images/like.png' %}">
								{% endif %}
							{% endif %}
								
							</a>
							{% if element.picture %}
								<p id='nb_likemeal{{ element.id }}' class="number">{{ element.count_likers }}</p>
							{% else %}
								<p id='nb_likemenu{{ element.id }}' class="number">{{ element.count_likers }}</p>
							{% endif %}
						</div>

						<div class="between-like-comment"></div>
						<div class="comment">					
							
							{% if element.picture %}
								<a href="{% url 'user:display_comments' id=element.id tp='meal' %}" class="appre-image">
							{% else %}
								<a href="{% url 'user:display_comments' id=element.id tp='menu' %}" class="appre-image">
							{% endif %}
							
								<img src="{% static 'visitor/images/comment.png' %}">
							</a>
							{% if element.picture %}
								<p id='nb_commentmeal{{ element.id }}' class="number">{{ element.count_commentors }}</p>
							{% else %}
								<p id='nb_commentmenu{{ element.id }}' class="number">{{ element.count_commentors }}</p>
							{% endif %}
						</div>
					</div>
					<div class="comment-bar">
						<div class="comment-input">
							
							{% if element.picture %}
								<form name="comment" action='#' onsubmit=commentMeal('meal{{ element.id }}') id="comment-form"  method="GET">
								<input type="text" class="input-zone" name="comment" id="commentmeal{{ element.id }}" placeholder="Write something" required>
							{% else %}
								<form name="comment" action='#' onsubmit=commentMenu('menu{{ element.id }}') id="comment-form"  method="GET">
								<input type="text" class="input-zone" name="comment" id="commentmenu{{ element.id }}" placeholder="Write something" required>
							{% endif %}
							</form>
						</div>
						<div class="send-comment">
							{% if element.picture %}
								<input id='meal{{element.id}}' type='1' value="{{ element.id }}" hidden><!-- to control-->
								<a href="#" onclick=commentMeal('meal{{ element.id }}') class="appre-image">
							{% else %}
								<input id='menu{{element.id}}' type='1' value="{{ element.id }}" hidden><!-- to control-->
								<a href="#" onclick=commentMenu('menu{{ element.id }}') class="appre-image">
							{% endif %}
								<img src="{% static 'visitor/images/send1.png' %}">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			

		</div>
		

		{% endfor %}
</div>
{% endblock %}