{% extends 'user/base.html' %}
{% block content %}


  <div id="sp">
                 veuiller modifier votre  menu 
                </div>
                <form id="form" action="" method="POST">
                    <div class="item-connexion">
                            <label for="nom"> MENU à MODIFIER</label>
                            <input id="input-nom" type="text" id="nom" ><br><br>
                            <label for="MENU">DECRIVER LE MENU</label>
                            <input id="input-MENU" type="text" id="MENU"><br><br>
                                <input type="submit" value="enregistrer">
                            </div>
                    </div>
        
                </form>
            </div>





{% endblock %}
