*
{
	margin: 0px;
	padding: 0px;
	position: relative;
}
body
{
	width: 100%;
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
}
.header
{
	width: 100%;
	height: 15vh;
	background: #FF4500;
	display: inline-flex;
	justify-content: safe end;
	border-radius: 5px;
	outline: 5px solid #FF4500;

}
.main
{
	height: 75vh;
	width: 100%;
	display: inline-flex;
	border-radius: 5px;
	outline: 2px solid #FF4500;
}
.footer
{
	width: 100%;
	height: 10vh;
	border-radius: 5px;
	background: #FF4500;
}
.silde_bar
{
	width: 20%;
	height: 100%;
	border-radius: 5px;
	outline: 2px solid #FF4500;

}
.conteneur
{
	width: 80%;
	height: 100%;
	border-radius: 5px;
	overflow: scroll;
	outline: 2px solid #FF4500;
}
.item
{
	width: 100%;
	height: 80%;
	outline: 2px solid #FF4500;
	border-radius: 5px;

}
.main-connexion
{
	height: 100vh;
	width: 100%;
	background: #FF4500;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.item-connexion
{
	display: inline-flex;
	justify-content: center;
	margin: 10px 0px 10px 0px;
}
.icon-connect
{
	width: 32px;
	height: 32px;
}
.i1
{
	background-image: url(file-person.svg);
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
.i2
{
	background-image: url(key-fill.svg);
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
form
{
	display:flex;
	flex-direction: column;
}
input[type=submit]
{
	width: 150px;
	height: 35px;
}
.icon
{
	width: 64px;
	height: 100%;
}
.logo
{
	width: 75%;
}
.user
{
	background-image: url(file-person.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64px 64px;
}
.setting
{
	background-image: url(list.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64px 64px;

}
.notive
{
	background-image: url(bell-fill.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 64px 64px;
}
font
{
	font-size: 75px;
	font-family: sans-serif;
	font-weight: 50;
	color: white;

}