{% extends 'visitor/base.html' %}
{% block content %}

{% load static %}
<div class="conteneur">
	{% for element in content %}
		<div class="item">
			<div class="item-image">
					{% if element.get_unit %}
						<a href="{% url 'user:food_detail' id=element.id %}" class="image-cadre">
						<img src="{{ element.picture.url }}" class="round-image-borders">
					{% else %}
						{% if element.picture %}
							<a href="{% url 'user:meal_detail' id=element.id %}" class="image-cadre">
							<img src="{{ element.picture.url }}" class="round-image-borders">
						{% else %}
							<a href="{% url 'user:menu_detail' id=element.id %}" class="image-cadre">
							Pas d'image disponible
						{% endif %}
					{% endif %}
				</a>
			</div>

			<div class="empty-frame"></div>
			<div class="item-content">
				<div class="item-title">
					<p class="">
						{{ element.get_name }}
					</p>
				</div>

				{% if element.get_unit %}
					<a href="{% url 'user:food_detail' id=element.id %}" class="a-content">
				{% else %}
					{% if element.picture %}
						<a href="{% url 'user:meal_detail' id=element.id %}" class="a-content">
					{% else %}
						<a href="{% url 'user:menu_detail' id=element.id %}" class="a-content">
					{% endif %}
				{% endif %}
					<div class="between-detail-elements"></div>
					<div class="item-description">
						<p class="">
							{% if element.get_description != "unknown description" %}{{ element.get_description }}{% else %}No description available{% endif %}
							
						</p>
					</div>
				</a>
				<div class="between-detail-elements"></div>
				{% if element.get_unit is None %}
				<div class="item-appre">
					<div class="like-comment">
						<div class="like">
							
							<a href="#" onclick=logInFirst() class="appre-image">
								<img id="like_image" src="{% static 'visitor/images/like.png' %}">
							</a>
							<p id='nb_like' class="number">{{ element.count_likers }}</p>
						</div>
						<div class="between-like-comment"></div>
						<div class="comment">					
							<a href="#" onclick=logInFirst() class="appre-image">
								<img src="{% static 'visitor/images/comment.png' %}">
							</a>
							<p id='nb_comment' class="number">{{ element.count_commentors }}</p>
						</div>
					</div>
					<div class="comment-bar">
						<div class="comment-input">
							<form name="comment" action='#' onsubmit=logInFirst() id="comment-form"  method="GET">
								<input type="text" class="input-zone" name="comment" id="comment" placeholder="Write something" required>
							</form>
						</div>
						<div class="send-comment">
							<input id='id' type='1' value="{{ element.id }}" hidden>
							<a href="#" onclick=logInFirst() class="appre-image">
								<img src="{% static 'visitor/images/send.png' %}">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			

		</div>
		

		{% endfor %}
</div>
{% endblock %}