{% extends 'visitor/base.html' %}

{% block content %}

{% load static %}

<div class="main-connexion">
	<div id="sp">
		Identify yourself to log in
	</div>
	<form id="form" action="{% url 'visitor:log_in' %}" method="POST">
		{% csrf_token %}
		{{ error }}
		<div class="item-connexion">
			<img src="{% static 'visitor/images/file-person.svg' %}">
			<input type="text" name="username" class="input-login" placeholder="Username" >
		</div>
		<div class="item-connexion">
			<img src="{% static 'visitor/images/key-fill.svg' %}">
			<input type="password" name="password" class="input-login" placeholder="Password" id='pwd'>
			<a id='hide' href="#" onclick=unhidePassword('pwd')>Display</a>
		</div>
		<div class="item-connexion">
			<input type="submit" value="Log in">
		</div>

	</form>
</div>

{% endblock content %}