{% extends 'visitor/base.html' %}

{% block content %}

{% load static %}

	<div class="main-connexion">
		<form action="{% url 'visitor:log_in' %}" method="POST">
			{% csrf_token %}
			{% if error %}
				<div class="item_connexion">
					{{ error }}
				</div>
			{% endif %}
			<div class="item-connexion i1">
				<div class="icon-connect">
					
				</div>
				<input type="text" name="username" placeholder="Username" >
			</div>
			<div class="item-connexion i2">
				<div class="icon-connect">
					
				</div>
				<input type="password" name="password" placeholder="Password" id='pwd'>
			</div>
			<div class="item-connexion ">
				<input type="submit" value="Log in">
			</div>

		</form>
		<button id='hide' class="item_connexion" onclick=unhidePassword()>Afficher</button>
	</div>

{% endblock content %}